@media (max-width: 768px)
{
	.logo{
		width: 220px;
	}
	.header .porto-lightbox a.btn{
		padding: 0 9px 0 38px;
	    line-height: 30px;
	    font-size: 11px;
	}
	.header_right li{
		margin-left: 10px;
	}
	.header .porto-lightbox a i {
		width: 30px;
    	font-size: 14px;
   		height: 30px;
    }
}