@media (max-width: 1400px) { /* XXL */

}
@media (max-width: 1200px) { /* XL */
	
}
@media (max-width: 992px) { /* LG */
	.header_bottom .navbar-nav .nav-item .nav-link{
		padding-left: 16px;
		font-size: 14px;
	}
	.logo {
	    width: 120px;
	}
	.about_info_block{
		margin-top: 30px;
	}
	.footer_block{
		margin-bottom: 30px;
	}
	.carousel-item{
		height: 50vh;
	}
	.carousel-control-prev, .carousel-control-next{
		top: 40%;
	}
	.testimonials_client_info{
		margin-top: 30px;
		text-align: center;
	}
	.footer,
	section{
		padding: 60px 0;
	}
	.banner {
	    margin-top: 132px;
	}
}
@media (max-width: 768px) { /* MD */
	.navbar-nav{
		margin-top: 20px;
	}
	.header_bottom .navbar-nav .nav-item .nav-link {
    	padding: 5px 0;
	}
	.carousel-item{
		height: 200px;
	}
	.testimonials_client_image{
		width: 150px;
		height: 150px;
		margin: 0 auto;
		border: 3px solid var(--blue);
		border-radius: 100%;
	}
	.banner {
	    margin-top: 152px;
	}
	.footer,
	section{
		padding: 40px 0;
	}
}
@media (max-width: 576px) { /* SM */
	.follow_icon_box{
		text-align: center;
		justify-content: center;
		display: none;
	}
	.header_top_contact_info{
		text-align: center;
	}
	.dark_code_bolck_box{
		width: 350px;
		margin: 0 auto;
	}
	.logo{
		width: 100px;
	}
	.banner {
    	margin-top: 143px;
	}
	.carousel-item {
	    height: 130px;
	}
	.carousel-control-prev{
		left: 20px;
	}
	.carousel-control-next{
		right: 20px;
	}
	.sec-heading span{
		left: 35px;
	}
}
@media (max-width: 400px) { /*  Very My Custom sSM */
	.dark_code_bolck_box{
		width: 100%;
	}
}