@media (max-width: 1000px){
	.System_block h3,
	.News_image_Block h3{
		font-size: 20px;
		margin-top: 10px;
	}
	.top-space{
		margin-top: 30px;
	}
	.bottom_video{
		order: -1;
	}/*
	.Gim_Course_Block{
		width: 200px;
	}*/
}
@media (max-width: 900px)
	{	.header{
		text-align: center;
	}
	.logo{
		width: 270px;
	}
	.header .porto-lightbox a.btn{
		padding: 0 9px 0 38px;
	    line-height: 30px;
	    font-size: 11px;
	}
	.header_right{
		text-align: center;
	}
	.header_right li{
		margin: 15px 0 0 0;
		display: block;
	}
	.header_right li:nth-child(3),
	.header_right li:nth-child(2){
		display: none;
	}
	.header .porto-lightbox a i {
		width: 30px;
    	font-size: 14px;
   		height: 30px;
    }
    .container{
    	width: 540px;
    }
    .click_me_sec_block h3{
    	font-size: 30px;
    	color: #fff;
    }
    .click_me_sec_block li a{
    	font-size: 18px;
    }
    .News_image_Row{
    	padding: 20px 0 0;
    }
    .Whats_Next_Gim .col-md-4{
    	max-width: 100%;
    	flex: 100%;
    }
    .Gim_Course_Block{
    	height: 260px;
    }
    .counter_block{
    	margin-bottom: 20px;
    }
}
@media (max-width: 540px){
	.container{
		width: 100%;
	}
	.click_me_sec_block h3{
		font-size: 26px;
	}
	.click_me_sec_block li a{
		padding: 6px 14px;
	}
	.news_paper_news_bottom{
		padding: 0;
	}
	.News_image_Block_first{
		margin-bottom: 30px;
	}
	.top-space{
		margin-top: 30px;
	}
	.Gim_Course_Block{
    	height: auto;
    }

}
@media (max-width: 440px){
	.click_me_sec_block h3{
		margin-bottom: 15px;
	}
}